#loginModal .modal-dialog {
    max-width: 730px;
}

#loginModal .modal-content {
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}

#loginModal .login-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

#loginModal form[name="login-form"] {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.login-form-control::-webkit-input-placeholder {color:#fff;}
.login-form-control::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.login-form-control:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.login-form-control:-ms-input-placeholder      {color:#fff;}

#loginModal .login-form-control {
    background-color: #76ae36;
    height: 43px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 40px;
    width: 100%;
}

#loginModal .login-form-group {
    position: relative;
}

#loginModal .login-form-group + .login-form-group {
    margin-top: 8px;
}

#loginModal .login-form-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    color: #fff;
}